
  .label2 {
    margin-top: 10px;
  }

  .contactUs-content {
    position: absolute;
    left: -100px;
    top: 100px;
  }

  .contact-page-image {
    position: absolute;
    left: 55%;
    top: 100%;
  }

  .contact-page-image img {
    width: 100px;
  }

  .contact-content {
    position: relative;
    left: -150px;
  }


.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
